/*General Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans','Segoe UI', sans-serif;
}

ul{ list-style: none;}
a{ text-decoration: none;}

body,html{
    overflow-x: hidden;
}

/*Navegation Bar*/
.navBar{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navLinks{
    display: flex;
    align-items: center;
}

.logo{
    color: #fff;
}

.navLinks li{
    margin-left: 2rem;
}

.navLinks li a{
    color: #fff;
}

.navLinks li a:hover{
    text-decoration: underline;
}

.navLinks .ctn a:hover{
    color: #fc036b;
}


/*Hero Section*/
.heroSection{
    max-width: 100vw;
    height: 100vh;
    background-image: url('img/bg_header.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

.heroSectionContent {
    margin: 0 auto 8rem;
    color: #fff;

}

.heroSectionContent h2{
    font-size: 4vmin;
}

.heroSectionContent h1{
    margin: 2rem auto .7rem;
    font-size: 7vmin;
}

/*Components*/
.line{
    height: 3px;
    width: 10rem;
    background-color:  #fc036b;
    margin: 0 auto;

}
.active{
    color: #fc036b;
    font-weight: bold;
    text-decoration: underline;
}

.ctn{
    background-color:  #fc036b;
    font-size: 11pt;
    padding: .5rem .8rem;
    border-radius: 2rem;
    color: #fff;
}

.ctn:hover{
    background-color: #fff;
    color: #fc036b;
    box-shadow: .1rem .1rem .3rem #ccc;
}

/*Mobile MenuBtn*/
.menuBtn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 2.5rem;
    display: none;
}

.menuBtn div{
    width: 100%;
    height: 4px;
    background-color: #fff;
    margin: 5px 0;
    border-radius: 3px;
}

.menuBtn:hover{
    cursor: pointer;
    scale: 1.1;
}

/* Mobile Responsivity*/
@media screen and (max-width: 858px) {
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .menuBtn{
        display: block;
    }

    .navBar{
        padding: 0;
    }

    .navLinks{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: #484872;
        margin-top: -50rem;
        transition: .5s ease all;
    }

    .navLinks li:nth-child(1){
        margin-top: 10rem;
    }

    .navLinks li{
        margin: 1rem auto;
    }

    .mobileMenu{
        margin-top: 0;
    }
}