/*General Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans','Segoe UI', sans-serif;
}

body,html{
    overflow-x: hidden;
}

section{ 
    width: 80%;
    margin: 2rem auto;
}

ul{ list-style: none;}
a{ text-decoration: none;}

h1{
    font-size: 7vmin;
}

h4{
    font-size: 3vmin;
    color: #49497e;
    margin: .8rem 0;
}

p{
    padding: 0 40px;
    margin: 1rem auto;
    color: #7c7c7c;
}


/*Navigation Bar*/
.navBar{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.navLinks{
    display: flex;
    align-items: center;
}

.logo{
    font-size: 1.25rem;
}

 .logo .logoLink{
    color: #fff;
}

.navLinks li{
    margin-left: 1rem;
}

.navLinks li a{
    color: #fff;
}

.navLinks li a:hover{
    color: #fc036b;
}

.navLinks .ctn a:hover{
    color: #fc036b;
}

.navLinks .activeLink{
    color: #fc036b;
    font-weight: bold;
}

/*Hero Section*/
.heroSection{
    width: 100%;
    height: 100vh;
    background-image: url('img/bg_header.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}

.heroSectionContent {
    margin: 0 auto 8rem;
    color: #fff;

}

.heroSectionContent h2{
    font-size: 4vmin;
}

.heroSectionContent h1{
    margin: 2rem auto .7rem;
}

/*Events*/
.event{
    text-align: center;
}

.event .title h1{
    text-align: center;
    color: #49497e;
    font-size: 6vmin;
    margin: .5rem 0;
}

.event .row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto;
}

.event .row .col{
    padding: .5rem;
}

.row .col img{
    max-width: 90%;
}

/*Explore*/
.explore{
    width: 100%;
    height: 100vh;
    background-image: url('img/bg_body.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.exploreContent{
    width: 60%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.exploreContent p{
    text-align: center;
    color: #fff;
    margin: 2rem 0 1.5rem;
}

.exploreContent .line{
    margin-top: .5rem;
}

/*Tour*/
.tour .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tour .row .col{
    width: 50%;
}

.row .colText{
    width: 40%;
}

.row .colText h1{
    color: #49497e;
}

.row .colText p{
    padding: 1rem 0;
}

.row .colText .line{
    margin: .5rem;
}

.row .colImage{
    width: 60%;
}

.image-gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

.image-gallery img{
    width: 40%;
    padding: 5px;
}

/*footer*/
footer{
    background-color: #49497e;
    padding: 1rem;
}

footer p{
    color: #fff;
    text-align: center;
}
/*Components*/
::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: #fc036b;;
}

.line{
    height: 4px;
    width: 10rem;
    border-radius: 3px;
    background-color:  #fc036b;
    margin: 0 auto;
}

.active{
    color: #fc036b;
    font-weight: bold;
    text-decoration: underline;
}

.ctn{
    background-color:  #fc036b;
    font-size: 11pt;
    padding: .5rem .8rem;
    border-radius: 2rem;
    color: #fff;
}

.ctn:hover{
    background-color: #fff;
    color: #fc036b;
    box-shadow: .1rem .1rem .3rem #ccc;
}

/*Mobile MenuBtn*/
.menuBtn{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 2rem;
    display: none;
}

.menuBtn div{
    width: 100%;
    height: 4px;
    background-color: #fff;
    margin: 5px 0;
    border-radius: 3px;
    transition: all .5s;
}

.menuBtn.active div:nth-child(1){
    transform: rotate(-45deg) translate(-5px, 4px);
}

.menuBtn.active div:nth-child(2){
    opacity: 0;
    width: 0;
}

.menuBtn.active div:nth-child(3){
    transform: rotate(45deg) translate(-7px, -7px);
}

.menuBtn:hover{
    cursor: pointer;
    scale: 1.1;
}

/*Mobile Responsivity*/
@media screen and (max-width: 858px) {
    /*Navigation Bar*/
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .menuBtn{
        display: block;
    }

    .navBar{
        padding: 0;
    }

    .navLinks{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: #484872;
        margin-top: -500rem;
        transition: .5s ease all;
    }

    .navLinks li:nth-child(1){
        margin-top: 10rem;
    }

    .navLinks li{
        margin: 1rem auto;
        font-size: 14pt;
    }

    .mobileMenu{
        margin-top: 0;
    }

    section{
        width: 100%;
    }

    /*Hero Section*/
    .heroSectionContent{
        align-items: center;
    }

    /*Events*/
    .event .row{
        flex-direction: column;
    }

    .event .row .col{
        margin: 2rem auto;
    }

    .event .row .col p{
        margin-bottom: 2rem;
    }
    
    .event .row .col h4{
        font-size: 12pt;
    }

    .event .row .col img{
        max-width: 90%;
    }

    /*Explore*/
    .exploreContent{
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .exploreContent p{
        margin-bottom: 3rem;
    }

    /*Tour*/
    .tour .row{
        flex-direction: column;
        justify-content: center;
    }

    .tour .row .col{
        width: 100%;
        margin: 1rem auto;
    }

    .colText{
        width: 100%;
        text-align: center;
    }

    .row .colText .line{
        margin: .5rem auto;
    }

    .colText p{
        padding: 0;
        width: 90%;
    }

    .row .colImage{
        width: 100%;
    }

    .image-gallery{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .image-gallery img{
        width: 100%;
        margin-top: 1rem ;
    }
}

/* Animation*/
img{
    transition: all .5s ease;
}

img:hover{
   scale: 1.1;
}

/*Designed by Miguel Kambamba @2023*/